<div class="hide-when-search">
	<div class="section-title mdl-grid">
		<div class="mdl-cell mdl-cell--12-col">
			<h2 class="mdl-typography--headline-color-contrast">商家動態</h2>
	    <div class="mdl-layout-spacer"></div>
			<a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" >
	     更多 <i class="material-icons">chevron_right</i>
	    </a>   
		</div>
	</div>

	<!--
	<div class="icon-divider">
		<i style="color:#795548;" class="material-icons">store</i>
		<p class="mdl-typography--caption-color-contrast">商家動態</p>
	</div>
	-->
	<div class="mdl-grid store-news-list">
		
		<!-- 第一次出現的預告 -->
		<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone" style="background: #d6f4ff;">
			<div class="mdl-card__title">
				<h4 class="mdl-card__title-text">追蹤喜愛的商家</h4>
			</div>
			<div class="mdl-card__supporting-text mdl-card--expand">
				在商店頁面點下追蹤，他們的新商品就會出現在這裡喔。多加利用來發現有趣商品吧！
			</div>
				<div class="mdl-card__actions mdl-card--border">
					<a href="#" class="mdl-button mdl-js-button mdl-button--colored">我瞭解了</a>
				</div>
		</div>
		


		
		<% 3.times do %>
		<!-- 無 favortite -->
		<div class="store-news-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
			<div class="mdl-card__supporting-text">
				<a class="avatar" href="store.html"><img src="img/avatar/a<%= 1 + rand(20) %>.jpg" /><%= zh_lorem_words(4+rand(10)) %> ∙ 1 天</a>
			</div>
			<div class="mdl-card--media mdl-card--expand" style="background: url('img/products/p<%= 1 + rand(78) %>.jpg') center / cover;">
				<a href="product.html" class="link-to-product"></a>
				<div class="mdl-card__actions">
					<a href="product.html" class="product-title"><%= zh_lorem_words(4+rand(10)) %></a>
					<div class="mdl-layout-spacer"></div>
					<i class="favorite-button material-icons">favorite_outline</i>
				</div>
			</div>
		</div>
		
		<!-- 有 favortite -->
		<div class="store-news-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
			<div class="mdl-card__supporting-text">
				<a class="avatar" href="store.html"><img src="img/avatar/a<%= 1 + rand(20) %>.jpg" /><%= zh_lorem_words(4+rand(10)) %> ∙ 1 天</a>
			</div>
			<div class="mdl-card--media mdl-card--expand" style="background: url('img/products/p<%= 1 + rand(78) %>.jpg') center / cover;">
				<a href="product.html" class="link-to-product"></a>
				<div class="mdl-card__actions">
					<a href="product.html" class="product-title"><%= zh_lorem_words(4+rand(10)) %></a>
					<div class="mdl-layout-spacer"></div>
					<i class="favorite-button material-icons active-icon">favorite</i>
				</div>
			</div>
		</div>
		
		<% end %>

		<!-- 預告 -->
		<div class="billboard-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
			<div class="mdl-card__supporting-text mdl-card--border_bottom">
				<a class="avatar" href="store.html"><img src="img/avatar/a<%= 1 + rand(20) %>.jpg" /><%= zh_lorem_words(4+rand(10)) %> ∙ 1 天</a>
			</div>
			<div class="mdl-card__title link-to-product mdl-card--border">
				<h4 class="mdl-card__title-text"><%= zh_lorem_words(10+rand(10)) %></h4>
				<p><%= zh_lorem_paragraphs(3) %></p>	
			</div>
			<div class="mdl-card__actions">
				<a href="store.html" class="mdl-button mdl-js-button mdl-button--colored">前往商店<i class="material-icons">chevron_right</i></a>
			</div>
		</div>
		


	</div>
</div>
