<!-- 兩欄排序 -->

<div class="layout_wrapper">
	<article><%= render :partial => "product-list-item-only" %>

	</article>
	<aside>
		<h6>分類</h6>
		<div class="tags">
			<a href="#"><%= zh_lorem_words(2+rand(5)) %></a>
			<a href="#"><%= zh_lorem_words(2+rand(5)) %></a>
			<a href="#"><%= zh_lorem_words(2+rand(5)) %></a>
			<a href="#"><%= zh_lorem_words(2+rand(5)) %></a>
			<a href="#"><%= zh_lorem_words(2+rand(5)) %></a>
			<a href="#"><%= zh_lorem_words(2+rand(5)) %></a>
			<a href="#"><%= zh_lorem_words(2+rand(5)) %></a>
			<a href="#"><%= zh_lorem_words(2+rand(5)) %></a>
			<a href="#"><%= zh_lorem_words(2+rand(5)) %></a>
			<a href="#"><%= zh_lorem_words(2+rand(5)) %></a>
			<a href="#">更多…</a>
		</div>
	</aside>
</div>

<%#= render :partial => "product-list-item-only" %>
<%#= render :partial => "category-mini" %>

<%#= render :partial => "category-mini" %>
		<%#= render :partial => "news" %>
<%#= render :partial => "product-list-item-only" %>
<%#= render :partial => "product-list-alt" %>
<%#= render :partial => "product-list-alt" %>
<%#= render :partial => "news" %>