<%= render :partial => "logo" %>
<%#= render :partial => "search" %>
<hr class="little">
<%= render :partial => "ad" %>

<p style="text-align:center; padding-top: 24px;">
<a href="https://solda.io/categories/feature_lists/15" class="mdl-js-ripple-effect mdl-button mdl-js-button mdl-button--raised mdl-button--accent">看影片食材！</a>
</p>
<hr class="little">

<%= render :partial => "slides" %>
<%= render :partial => "category" %>
<%= render :partial => "product-list" %>
<%= render :partial => "product-list-alt" %>
<%= render :partial => "news" %>