<!-- 指定有 prodcut layout -->
<% content_for :product do %>
<% end %>



<div id="main-product-info">
	<div id="product-gallery">
		<!-- 設 link 到下一張的 id，這樣點一下圖片就可以看下一張，並非完美解，但是堪用 -->
		<a href="#2" class="img-container" id="1" style="background: url('img/products/p12.jpg') center / cover;"></a>
		<a href="#3" class="img-container" id="2" style="background: url('img/products/p13.jpg') center / cover;"></a>
		<a href="#4" class="img-container" id="3" style="background: url('img/products/p14.jpg') center / cover;"></a>
		<a href="#5" class="img-container" id="4" style="background: url('img/products/p15.jpg') center / cover;"></a>
		<a href="#6" class="img-container" id="5" style="background: url('img/products/p16.jpg') center / cover;"></a>
		<a href="#7" class="img-container" id="6" style="background: url('img/products/p17.jpg') center / cover;"></a>
		<a href="#8" class="img-container" id="7" style="background: url('img/products/p28.jpg') center / cover;"></a>
		<a href="#1" class="img-container" id="8" style="background: url('img/products/p29.jpg') center / cover;"></a>
		<!-- 點最後一張會連到第一張 -->
	</div>



	<div id="link-gallery">

		<a href="#" id="link-description1" target="_blank"><i class="material-icons">open_in_new</i><%= zh_lorem_paragraph %></a>
		<span for="link-description1" class="mdl-tooltip" >關於這連結的說明（使用者自己打的）</span>

		<a href="#" id="link-description2" target="_blank"><i class="material-icons">open_in_new</i><%= zh_lorem_paragraph %></a>
		<span for="link-description2" class="mdl-tooltip" >關於這連結的說明（使用者自己打的）</span>
	</div>



	<div  class="mdl-grid">
		<div class="product-detail mdl-cell mdl-cell--6-col-desktop mdl-cell--3-offset-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
		
			<h1 class="mdl-typography--headline"><%= zh_lorem_words(13+rand(20)) %>- <%= zh_lorem_words(5+rand(2)) %></h1>

			<div class="product-price">
				<p class="mdl-typography--body-2 mdl-color-text--accent">NT$ 450</p>
				<div class="mdl-layout-spacer"></div>
				<p class="mdl-typography--caption-color-contrast">台北市•剩餘 0 天 0:59</p>
			</div>

		<div class="buy-bar">


			<button id="buy-now" class="mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect">
			  馬上購買
			</button>

			<button class="mdl-button mdl-js-button mdl-button--icon">
			  <i class="material-icons">favorite_outline</i>
			</button>


			<div class="mdl-layout-spacer"></div>

			<button id="add-to-cart" class="mdl-button mdl-js-button mdl-button--icon">
			  <i class="material-icons">add_shopping_cart</i>
			</button>
		</div>


			<div class="product-description">

				<p><%= zh_lorem_paragraph %></p>
				<% 2.times do %>
				<p><%= zh_lorem_paragraphs(2) %></p>
				<% end %>

				<p class="mdl-typography--caption-color-contrast">瀏覽 40•庫存 7•銷售 3•更新於 2015/06/26</p>
			</div>
		</div>
	</div>

</div>

<div id="sub-product-info">
	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--3-offset-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
			<div class="store-info-card">
				<a href="store.html">
					<img src="img/avatar/a6.jpg" alt="">
					<span>
						<h1>寶物淘淘網</h1>
						<p>@cloud-tou•87 % 好評 </p>
					</span>
				</a>
				<div class="mdl-layout-spacer"></div>
				<button class="mdl-button mdl-js-button mdl-button--icon" id="follow">
				  <i class="material-icons">star_outline</i><span class="mdl-tooltip" for="follow">追蹤商家</span>
				</button>			
			</div>
		</div>


		<div id="share-section" class="mdl-cell mdl-cell--6-col-desktop mdl-cell--3-offset-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-typography--text-center">
			<hr>
			<button class="mdl-button mdl-js-button mdl-button--icon" id="message">
			  <i class="material-icons">message</i><span class="mdl-tooltip" for="message">傳訊詢問</span>
			</button>
			<button class="mdl-button mdl-js-button mdl-button--icon" id="share">
			  <img src="img/profile/facebook.svg" alt="">
			</button>
			<button class="mdl-button mdl-js-button mdl-button--icon" id="share">
			  <img src="img/profile/twitter.svg" alt="">
			</button>
		</div>



		<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--3-offset-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
			<hr>
			<h6>寄送資訊</h6>
			<p>
				郵局 NT$ 50<br/>
				統一超商取貨 NT$ 60<br/>
				店取 NT$ 0<br/>
				宅配 NT$ 88
			</p>
		</div>

		<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--3-offset-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
			<hr>
			<h6>付款資訊</h6>
			<p>
				接受信用卡、ATM 虛擬帳號、ATM、店取
			</p>
		</div>

		<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--3-offset-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
				<hr>
				<h6>商家自訂運費規則</h6>
				<h2>國外運送方式</h2>
				<p>
					<%= zh_lorem_paragraphs(2) %>
				</p>
		</div>

		<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--3-offset-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-typography--text-right">
			<hr>
			<button id="report" class="mdl-button mdl-js-button mdl-button--colored">
				檢舉違禁商品
			</button>

		</div>



	</div>
</div>

