#main-product-info
  .mdl-grid.mdl-grid--no-spacing
    #image-control.mdl-cell.mdl-cell--10-col-desktop.mdl-cell--1-offset-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone
      %a.go-next.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab{:href => "#2"}
        %i.material-icons navigate_next
      %a.go-prev.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab{:href => "#2"}
        %i.material-icons navigate_before

    
  .mdl-grid.mdl-grid--no-spacing 
    #image-holder.mdl-cell.mdl-cell--10-col-desktop.mdl-cell--1-offset-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone
      %a#1.img-container{href: "#2", style: "background: url('img/products/p12.jpg') center / cover;"}
      %a#2.img-container{href: "#3", style: "background: url('img/products/p13.jpg') center / cover;"}
      %a#3.img-container{href: "#4", style: "background: url('img/products/p14.jpg') center / cover;"}
      %a#4.img-container{href: "#5", style: "background: url('img/products/p15.jpg') center / cover;"}
      %a#5.img-container{href: "#6", style: "background: url('img/products/p16.jpg') center / cover;"}
      %a#6.img-container{href: "#7", style: "background: url('img/products/p17.jpg') center / cover;"}
      %a#7.img-container{href: "#8", style: "background: url('img/products/p28.jpg') center / cover;"}
      %a#8.img-container{href: "#1", style: "background: url('img/products/p29.jpg') center / cover;"}
      /基本上一直點就會跳到下一張～

  .mdl-grid
    .product-detail.mdl-cell.mdl-cell--8-col-desktop.mdl-cell--2-offset-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone
      %h1.mdl-typography--headline
        = zh_lorem_words(13+rand(20))
        \- #{zh_lorem_words(5+rand(2))}
      .product-price
        %p.mdl-typography--body-2.mdl-color-text--accent NT$ 450
        .mdl-layout-spacer
        %p.mdl-typography--caption-color-contrast 台北市•剩餘 0 天 0:59
      .buy-bar
        %button#buy-now.mdl-button.mdl-js-button.mdl-button--accent.mdl-js-ripple-effect
          馬上購買
        %button.mdl-button.mdl-js-button.mdl-button.mdl-js-ripple-effect{:disabled => "disabled"}
          過期
        %button.mdl-button.mdl-js-button.mdl-button.mdl-js-ripple-effect{:disabled => "disabled"}
          完售
        %button.mdl-button.mdl-js-button.mdl-button--accent.mdl-js-ripple-effect
          傳訊詢價

        -# %button.mdl-button.mdl-js-button.mdl-button--icon
        -#   %i.material-icons favorite_outline
        %button#add-to-cart.mdl-button.mdl-js-button.mdl-button--icon
          %i.material-icons add_shopping_cart
        %button.mdl-button.mdl-js-button.mdl-button--icon#tt1
          %span.mdl-tooltip{:for => "tt1"} 傳訊息給賣家
          %i.material-icons
            message
      .product-description
        %p= zh_lorem_paragraph
        %p
          %a{:href => "#"} https://www.youtube.com/watch?v=2b1VPqCrk2c
        %p
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/2b1VPqCrk2c", :width => "560"}        
        - 2.times do
          %p= zh_lorem_paragraphs(2)
        %p.mdl-typography--caption-color-contrast 瀏覽 40•庫存 7•銷售 3•更新於 2015/06/26
      .social-links
        %div
           
          / plurk button
          %a.plurk-button{:href => "#", "ng-click" => "shareToPlurk()"}
            %span 分享到噗浪
          / line button
          %a.line-button{:href => "line://msg/text/〈 卡貼 貼紙 〉代客訂做 製作 客製化 TWICE EXID GFRIEND BTS GOT7 .. (全館消費滿399元免運費)%0D%0Ahttps%3A//solda.io/products/86818", :style => "display: inline-block;"}
            %img{:alt => "", :height => "20", :src => "img/profile/line-button.png", :width => "68"}/
             
          / fb like
          %div{:style => "display: inline-block; width: auto; height:20px; padding: 0;"}
            .fb-share-button.fb_iframe_widget{"data-href" => "https://solda.io/products/86818", "data-layout" => "button", "fb-iframe-plugin-query" => "app_id=1396825883930843&container_width=73&href=https%3A%2F%2Fsolda.io%2Fproducts%2F86818&layout=button&locale=en_US&sdk=joey", "fb-xfbml-state" => "rendered", :style => "padding:0;"}
              %span{:style => "vertical-align: bottom; width: 59px; height: 20px;"}
                %iframe{:allowfullscreen => "true", :allowtransparency => "true", :frameborder => "0", :height => "1000px", :name => "f570dd99b7d04", :scrolling => "no", :src => "https://www.facebook.com/v2.3/plugins/share_button.php?app_id=1396825883930843&channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FP5DLcu0KGJB.js%3Fversion%3D42%23cb%3Df3f81807576e5c%26domain%3Dsolda.io%26origin%3Dhttps%253A%252F%252Fsolda.io%252Ff2485a8a7d681dc%26relation%3Dparent.parent&container_width=73&href=https%3A%2F%2Fsolda.io%2Fproducts%2F86818&layout=button&locale=en_US&sdk=joey", :style => "border: none; visibility: visible; width: 59px; height: 20px;", :title => "fb:share_button Facebook Social Plugin", :width => "1000px"}
          / tweet button
          %div{:style => "margin-left: -10px;"}
            %script{:src => "https://platform.twitter.com/widgets.js"}
            %iframe#twitter-widget-0.twitter-share-button.twitter-share-button-rendered.twitter-tweet-button{:allowtransparency => "true", "data-url" => "https://solda.io/products/86818", :frameborder => "0", :scrolling => "no", :src => "https://platform.twitter.com/widgets/tweet_button.289140617d6d66fbee36bb5f0535b846.en.html#dnt=false&id=twitter-widget-0&lang=en&original_referer=https%3A%2F%2Fsolda.io%2Fproducts%2F86818&size=m&text=%E3%80%88%20%E5%8D%A1%E8%B2%BC%20%E8%B2%BC%E7%B4%99%20%E3%80%89%E4%BB%A3%E5%AE%A2%E8%A8%82%E5%81%9A%20%E8%A3%BD%E4%BD%9C%20%E5%AE%A2%E8%A3%BD%E5%8C%96%20TWICE%20EXID%20GFRIEND%20BTS%20GOT7%20..%20(%E5%85%A8%E9%A4%A8%E6%B6%88%E8%B2%BB%E6%BB%BF399%E5%85%83%E5%85%8D%E9%81%8B%E8%B2%BB)%20-%20Solda&time=1474864564299&type=share&url=https%3A%2F%2Fsolda.io%2Fproducts%2F86818", :style => "position: static; visibility: visible; width: 61px; height: 20px;", :title => "Twitter Tweet Button"}

.mdl-grid
  .mdl-cell.mdl-cell--8-col-desktop.mdl-cell--2-offset-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone
    %h5
      相關商品

#related-product
  = render :partial => "product-related"
#sub-product-info
  .mdl-grid
    -# .mdl-cell.mdl-cell--6-col-desktop.mdl-cell--3-offset-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone
    -#   .store-info-card
    -#     %a{href: "store.html"}
    -#       %img{alt: "", src: "img/avatar/a6.jpg"}/
    -#       %span
    -#         %h1 寶物淘淘網
    -#         %p @cloud-tou•87 % 好評
    -#     .mdl-layout-spacer
    -#     %button#follow.mdl-button.mdl-js-button.mdl-button--colored
    -#       追蹤商家
    .mdl-cell.mdl-cell--8-col-desktop.mdl-cell--2-offset-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone
      %h5 關於本產品
      %h6 寄送資訊
      %p
        郵局 NT$ 50
        %br/
        統一超商取貨 NT$ 60
        %br/
        店取 NT$ 0
        %br/
        宅配 NT$ 88
    .mdl-cell.mdl-cell--8-col-desktop.mdl-cell--2-offset-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone
      %hr/
      %h6 付款資訊
      %p
        接受信用卡、ATM 虛擬帳號、ATM、店取
    .mdl-cell.mdl-cell--8-col-desktop.mdl-cell--2-offset-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone
      %hr/
      %h6 商家自訂運費規則
      %h2 國外運送方式
      %p
        = zh_lorem_paragraphs(2)
    .mdl-cell.mdl-cell--8-col-desktop.mdl-cell--2-offset-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone.mdl-typography--text-right
      %hr/
      %button#report.mdl-button.mdl-js-button.mdl-button--colored
        檢舉違禁商品
