#main-product-info
  #product-gallery
    / 設 link 到下一張的 id，這樣點一下圖片就可以看下一張，並非完美解，但是堪用
    %a#1.img-container{href: "#2", style: "background: url('img/products/p12.jpg') center / cover;"}
    %a#2.img-container{href: "#3", style: "background: url('img/products/p13.jpg') center / cover;"}
    %a#3.img-container{href: "#4", style: "background: url('img/products/p14.jpg') center / cover;"}
    %a#4.img-container{href: "#5", style: "background: url('img/products/p15.jpg') center / cover;"}
    %a#5.img-container{href: "#6", style: "background: url('img/products/p16.jpg') center / cover;"}
    %a#6.img-container{href: "#7", style: "background: url('img/products/p17.jpg') center / cover;"}
    %a#7.img-container{href: "#8", style: "background: url('img/products/p28.jpg') center / cover;"}
    %a#8.img-container{href: "#1", style: "background: url('img/products/p29.jpg') center / cover;"}
    / 點最後一張會連到第一張

  .mdl-grid
    .product-detail.mdl-cell.mdl-cell--6-col-desktop.mdl-cell--3-offset-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone
      %h1.mdl-typography--headline
        = zh_lorem_words(13+rand(20))
        \- #{zh_lorem_words(5+rand(2))}
      .product-price
        %p.mdl-typography--body-2.mdl-color-text--accent NT$ 450
        .mdl-layout-spacer
        %p.mdl-typography--caption-color-contrast 台北市•剩餘 0 天 0:59
      .buy-bar
        %button#buy-now.mdl-button.mdl-js-button.mdl-button--accent.mdl-js-ripple-effect
          馬上購買
        -# %button.mdl-button.mdl-js-button.mdl-button--icon
        -#   %i.material-icons favorite_outline
        %button#add-to-cart.mdl-button.mdl-js-button.mdl-button--icon
          %i.material-icons add_shopping_cart
        %button.mdl-button.mdl-js-button.mdl-button--icon#tt1
          %span.mdl-tooltip{:for => "tt1"} 傳訊息給賣家
          %i.material-icons
            message
      .product-description
        %p= zh_lorem_paragraph
        %p
          %a{:href => "#"} https://www.youtube.com/watch?v=2b1VPqCrk2c
        %p
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/2b1VPqCrk2c", :width => "560"}        
        - 2.times do
          %p= zh_lorem_paragraphs(2)
        %p.mdl-typography--caption-color-contrast 瀏覽 40•庫存 7•銷售 3•更新於 2015/06/26
      -# #share-section
      -#   %hr/
      -#   %button#share.mdl-button.mdl-js-button.mdl-button--icon
      -#     %img{alt: "", src: "img/profile/facebook.svg"}/
      -#   %button#share.mdl-button.mdl-js-button.mdl-button--icon
      -#     %img{alt: "", src: "img/profile/twitter.svg"}/
.mdl-grid
  .mdl-cell.mdl-cell--6-col-desktop.mdl-cell--3-offset-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone
    %h5
      相關商品

#related-product
  = render :partial => "product-related"
#sub-product-info
  .mdl-grid
    -# .mdl-cell.mdl-cell--6-col-desktop.mdl-cell--3-offset-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone
    -#   .store-info-card
    -#     %a{href: "store.html"}
    -#       %img{alt: "", src: "img/avatar/a6.jpg"}/
    -#       %span
    -#         %h1 寶物淘淘網
    -#         %p @cloud-tou•87 % 好評
    -#     .mdl-layout-spacer
    -#     %button#follow.mdl-button.mdl-js-button.mdl-button--colored
    -#       追蹤商家
    .mdl-cell.mdl-cell--6-col-desktop.mdl-cell--3-offset-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone
      %h5 關於本產品
      %h6 寄送資訊
      %p
        郵局 NT$ 50
        %br/
        統一超商取貨 NT$ 60
        %br/
        店取 NT$ 0
        %br/
        宅配 NT$ 88
    .mdl-cell.mdl-cell--6-col-desktop.mdl-cell--3-offset-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone
      %hr/
      %h6 付款資訊
      %p
        接受信用卡、ATM 虛擬帳號、ATM、店取
    .mdl-cell.mdl-cell--6-col-desktop.mdl-cell--3-offset-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone
      %hr/
      %h6 商家自訂運費規則
      %h2 國外運送方式
      %p
        = zh_lorem_paragraphs(2)
    .mdl-cell.mdl-cell--6-col-desktop.mdl-cell--3-offset-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone.mdl-typography--text-right
      %hr/
      %button#report.mdl-button.mdl-js-button.mdl-button--colored
        檢舉違禁商品
