<div class="store-profile">
	<a href="store.html" class="avatar">
		<img src="img/avatar/a6.jpg" alt="">
	</a>
	<h1>寶物淘淘網</h1>
	<p>@cloud-tou•87 % 好評 </p>
	<a class="profile_excerpt" href="profile.html">大家好，我們是hahahana 
由兩個小小設計師組合的品牌大家好，我們是hahahana 
由兩個小小設計師組合的品牌大家好，我們是hahahana 
由兩個小小設計師組合的品牌</a>
</div>

<div class="mdl-tabs mdl-js-tabs">
  <div class="mdl-tabs__tab-bar">
    <a href="#tab1" class="mdl-tabs__tab is-active">商品</a>
    <a href="#tab2" class="mdl-tabs__tab">分類</a>
  </div>
  <div class="mdl-tabs__panel is-active" id="tab1">


		<div class="mdl-grid store-news-list">
					<!-- 預告 -->
			<div class="billboard-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col-desktop mdl-cell--2-offset-desktop  mdl-cell--8-col-tablet mdl-cell--4-col-phone">
				<div class="mdl-card__supporting-text mdl-card--border_bottom">
					<a class="avatar" href="store.html"><img src="img/avatar/a<%= 1 + rand(20) %>.jpg" /><%= zh_lorem_words(4+rand(10)) %> ∙ 1 天</a>
				</div>
				<div class="mdl-card__title link-to-product mdl-card--border">
					<h4 class="mdl-card__title-text"><%= zh_lorem_words(10+rand(10)) %></h4>
					<p><%= zh_lorem_paragraphs(3) %></p>	
				</div>
				<div class="mdl-card__actions">
					<a href="#" class="expand-more mdl-button mdl-js-button mdl-button--colored">展開<i class="material-icons">expand_more</i></a>
					<a href="#" class="expand-less mdl-button mdl-js-button mdl-button--colored">關閉<i class="material-icons">expand_less</i></a>
					<div class="mdl-layout-spacer"></div>
					<a href="#" class="mdl-button mdl-button--icon mdl-js-button mdl-button--colored"><i class="material-icons">message</i></a>
				</div>
			</div>
		
		</div>

		
	<div class="mdl-grid product-list">

		<% 4.times do %>

		<!-- 沒有 favorite -->
		<div class="product-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone" style="background: url('img/products/p<%= 1 + rand(78) %>.jpg') center / cover;">
			<div class="mdl-card--expand">
				<a href="product.html" class="link-to-product"></a>
			</div>
			<div class="mdl-card__actions">
				<a href="product.html" class="product-title"><%= zh_lorem_words(4+rand(10)) %></a>
				<div class="mdl-layout-spacer"></div>
				<i class="favorite-button material-icons">favorite_outline</i>
			</div>
		</div>

		<!-- 有 favorite -->
		<div class="product-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone"  style="background: url('img/products/p<%= 1 + rand(78) %>.jpg') center / cover;">
			<div class="mdl-card--expand">
				<a href="product.html" class="link-to-product"></a>
			</div>
			<div class="mdl-card__actions">
				<a href="product.html" class="product-title"><%= zh_lorem_words(4+rand(10)) %></a>
				<div class="mdl-layout-spacer"></div>
				<i class="favorite-button active-icon material-icons">favorite</i>
			</div>
		</div>

		<% end %>

	</div>












  </div>
  <div class="mdl-tabs__panel" id="tab2">
    <p>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/>Second tab's content.<br/></p>
  </div>
</div>
